* {
	margin: 0 !important;
	padding: 0;
	box-sizing: border-box;
}

.container-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
	font-family: 'Rubik', sans-serif;
}

.main-pg{
	width: 100%;
	background-color: white;
	background-image: url("assets/mainbg.jpeg");
	background-position: center;
}

.main-pg-content {
	height: 600px;
	display: block !important;
	margin-left: auto;
	margin-right: auto;
}

.main-pg-box {
	height: 450px;
	width: 500px;
	background-color: white;
	position: absolute;
    left: 25%;
    top: 5%;
    opacity: 60%;
    border-radius: 25px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-pg-name{
	text-align: center;
	padding: 40px;
	font-size: 35px;
	font-family: Marker Felt;
}

.main-pg-body{
	text-align: center;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

.profile-image {
	height: 300px;
	width: 300px;
	background-image: url('assets/profile.jpg');
	background-size: cover;
	border-radius: 225px;
	background-position: center;
	position: absolute;
	left: 30%;
    top: 22%;
}

.expertise-background{
	background-color: #040c24 !important;
}

.section-title{
	text-align: center;
	color: white;
	font-family: Marker Felt;
	font-size: 40px;
	padding: 50px;
}

.expertise-body{
	margin: 30px;
	padding: 30px;
}

.expertise-title{
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.expertise-content{
	color: white;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
}

.expertise-pic{
	border: 10px solid white;
}

.skills-background{
	background-color: #040c24 !important;
	padding: 50px;
}

.card{
	margin-bottom: 40px;
	padding: 30px;
}

.section-background{
	background-color: #040c24 !important;
}

.card-img-html{
	height: 45%;
	width: 60% !important;
}

.card-img-css-js{
	height: 45%;
	width: 50% !important;
}

footer{
	background-color: #040c24;
	text-align: center;
	color: white;
	padding: 50px;
	margin: auto;
}

.contact-form{
	background-color: #040c24 !important;
}

.modal-dialog {
  width: 300px !important;
  position: absolute !important;
  left: 40%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.modal-title {
	color: black;
}
.modal-body {
	color: black;
}